<%- include("partials/header")%> <%- include("partials/nav")%>

<div class="flex items-center justify-between flex-col text-white">
  <h1 class="text-5xl font-bold m-10">Welcome</h1>
  <div class="w-40 h-40 rounded-full mb-10 border-2 border-green-300 overflow-hidden">
    <img src="" alt="">
  </div>
  <div class="flex gap-3 items-center justify-center">
    <a class="text-blue-400 hover:text-yellow-500" href="/user/signout">Signout</a> |
    <a href="/user/update" class="text-blue-400  hover:text-yellow-500">Update Account</a>
  </div>
</div>
<%- include("partials/footer")%>
