<%-include("partials/header")%> <%-include("partials/nav")%>

<div class="flex items-center flex-col">
  <h1 class="text-white text-3xl font-medium mt-5">SignIn</h1>
  <div class="w-1/4">
    <form action="/user/signin" method="post">
      <input
        type="text"
        class="block mt-24 w-full bg-transparent border-2 p-2 rounded-md border-slate-500 text-white"
        name="username"
        placeholder="username"
      />
      <input
        class="block mt-6 w-full bg-transparent border-2 p-2 rounded-md border-slate-500 text-white"
        type="password"
        name="password"
        placeholder="********"
        hidden="true"
      />

      <div class="flex items-center justify-between">
        <button
        class="bg-yellow-500 text-black p-2 font-semibold rounded-md border-yellow-700 border-2 mt-6 cursor-pointer"
      >
        SignIn
      </button>
    </form>
  </div>
</div>
<%-include("partials/footer")%>
